GEMINI_API_KEY=your_key_here
OPENAI_API_KEY=your_key_here
MC_HOST=host.docker.internal
MC_PORT=25565
# Set to "--disable-narrator" to disable RCON/Narrator
DISABLE_NARRATOR_FLAG=
# LLM Settings
# OLLAMA_BASE_URL=http://host.docker.internal:11434/v1
# LLAMACPP_BASE_URL=http://host.docker.internal:8080/v1